table
{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
td
{
    border: 1px solid black;
}
hr{
    width: 90%;
    align-content: center;
    display: grid;
}
h1{
    text-align: center;
    color: #ff8a00;
    width: auto;
}
img{
    width: 15%;
    border-right: none;
    border-left: none;
}
table tr:nth-child(odd) td{
    color: #ff8a00;;
    background-color: #ccc;
}
table tr:nth-child(even) td{
    color: #ccc;
    background-color: #ff8a00;;
}
td{
    background-size: cover;
    background-position: center;
    align-content: space-around;
}
table thead tr td{
    color: black !important;
    background-color: white !important;
}
main{
    background: linear-gradient(45deg, #ccc 1%, #fff 1%, #fff 49%, #ccc 49%, #ccc 51%, #fff 51%, #fff 99%, #ccc 99%);
    background-size: 3px 3px;
    background-position: 5px 5px;
    height: 100%;
    width: 100%;
}
@media (orientation: landscape){
    table{
            font-size: xx-large;
    }

}