main a {
transition: .3s all ease;
color: #ff8a00;
background-color: #ccc;
margin: 0 0 0 40vw;
display: inline-block;
padding: 3%;
font-size: calc(3vw);
}
h1{
    text-align: center;
    color: #ff8a00;
    width: auto;
}
