hr{
    width: 90%;
    align-content: center;
    display: grid;
}
h1{
    text-align: center;
    color: #ff8a00;
    width: auto;
}
main{
    height: 100%;
    width: 100%;
}
strong{
    color: #FF6600;
}
h2{
    color: #FF6600;
}
option{
    color: #FF6600;
    background-color: #ccc;
    border: 2px solid #FF6600;
}
select{
    color: #FF6600;
    background-color: #ccc;
    border: 2px solid #FF6600;
}
input{
    color: #FF6600;
    background-color: #ccc;
    border: 2px solid #FF6600;
}
textarea{
    color: #FF6600;
    overflow: auto;
    width: 80vw;
    height: 20vh;
    border: 2px solid #FF6600;
    background-color: #ccc;
}
.submit {
    background-color: #ccc;
    border: 2px solid #FF6600;
}
input[name="nom"]{
    width: 30vw;
}
input[name="email"]{
    width: 40vw;
    margin-right: 5vw;
}
#subject{
    width: 30vw;
}
p{
}
label{
}
@media (orientation: landscape){
    form{
    margin-left: 15vh;
    margin-right: 15vh;
}
.question:nth-child(odd)
{
    text-align: left;
    margin-left: 15vh;
    margin-right: 15vh;
}
.question:nth-child(even)
{
    text-align: right;
    margin-right: 15vh;
    margin-left: 15vh;
}
.report{
    border: 1px solid #FF6600;
    color: black;
    background-color: #ccc;
    margin-left: 15vh;
    margin-right: 15vh;
}
}
@media (orientation: portrait){
form{
    margin-left: 5vh;
    margin-right: 5vh;
}
.question:nth-child(odd)
{
    text-align: left;
    margin-left: 5vh;
    margin-right: 5vh;
}
.question:nth-child(even)
{
    text-align: right;
    margin-right: 5vh;
    margin-left: 5vh;
}
.report{
    border: 1px solid #FF6600;
    color: black;
    background-color: #ccc;
    margin-left: 5vh;
    margin-right: 5vh;
}
}